html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  color: #333; }
  body .container {
    position: relative;
    z-index: 1; }
  body .site-header .task-title {
    color: green;
    font-size: .67em; }
  body .site-header .task-year {
    font-size: 1.7rem; }
  body .top-bar {
    background-color: #B9EDEC;
    width: 100%;
    display: flex;
    padding: 10px 20px; }
  body .branding {
    padding: 15px 0 0 10px; }
  body .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; }
    body .hero .main-logo {
      width: 24vw;
      z-index: 10; }
    body .hero .video-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      text-align: center; }
    body .hero .video-container::after {
      content: "";
      background-color: #7E858B;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .65; }
    body .hero .video {
      min-width: 100%;
      min-height: 100%; }
  body .feature {
    margin: 10rem auto 0 auto; }
  body .section1 .featured-image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 5; }
    @media only screen and (max-width: 948px) {
      body .section1 .featured-image {
        grid-column: 1/span 4 !important;
        grid-row: 1 / span 5; } }
  body .section1 .text-content {
    grid-row: 2 / span 3;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 948px) {
      body .section1 .text-content {
        grid-row: 2 / span 3;
        grid-column: 2/span 3 !important; } }
  body .section2 .featured-image {
    grid-column: 2 / span 4;
    grid-row: 1 / span 5; }
    @media only screen and (max-width: 948px) {
      body .section2 .featured-image {
        grid-row: 1 / span 5;
        grid-column: 2/span 3 !important; } }
    @media only screen and (max-width: 768px) {
      body .section2 .featured-image {
        grid-column: 1/span 5 !important; } }
  body .section2 .text-content {
    grid-row: 2 / span 3;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 948px) {
      body .section2 .text-content {
        grid-row: 2 / span 3;
        grid-column: 1/span 3 !important; } }
  @media only screen and (max-width: 948px) {
    body .contact {
      grid-column: 1/span 4 !important;
      grid-row: 1/span 6 !important;
      background-color: #B9EDEC; } }
  body .contact .featured-contact-background {
    grid-column: 1 / span 3;
    grid-row: 1 / span 5;
    background-color: #B9EDEC; }
    @media only screen and (max-width: 480px) {
      body .contact .featured-contact-background {
        grid-column: 1/span 4 !important;
        grid-row: 1/span 6 !important;
        background-color: #B9EDEC; } }
  body .contact .contact-info {
    grid-row: 1 / 4;
    grid-column: 1 / span 2;
    padding: 40px;
    line-height: 1.5rem; }
    @media only screen and (max-width: 948px) {
      body .contact .contact-info {
        grid-row: 1/3 !important;
        grid-column: 1 / span 3;
        padding: 40px;
        line-height: 1.5rem; } }
    @media only screen and (max-width: 480px) {
      body .contact .contact-info {
        display: none !important; } }
    body .contact .contact-info h3 {
      font-size: 1.2rem; }
    body .contact .contact-info dt {
      font-weight: bold;
      margin-top: .5rem; }
  body .contact .contact-block {
    grid-row: 2 / 5;
    grid-column: 3 / span 2;
    align-items: center;
    opacity: 1; }
  body .contact .form-wrapper form {
    display: flex;
    flex-direction: column;
    width: auto; }
    body .contact .form-wrapper form input {
      padding: 5px 10px;
      margin-bottom: 3px;
      border: 0; }
      @media only screen and (max-width: 948px) {
        body .contact .form-wrapper form input {
          padding: 10px !important;
          margin-bottom: 3px;
          border: 0; } }
    body .contact .form-wrapper form text area {
      border: 0; }
    body .contact .form-wrapper form .btn {
      background-color: firebrick;
      color: white;
      font-size: 1rem; }
  body p.promo-text {
    font-size: 2.1rem;
    font-family: 'Playfair Display', serif; }
  body .our-partners h3 {
    margin-left: 40px; }
  body .partners {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    padding: 0 40px; }
    @media only screen and (max-width: 480px) {
      body .partners {
        grid-template-columns: repeat(auto-fit, 50%); } }
    body .partners img {
      width: 100%;
      height: 100%; }
    body .partners .partner-image {
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      text-align: center; }
    body .partners .partner-image:nth-of-type(5),
    body .partners .partner-image:nth-of-type(10) {
      border-right: 0; }
    body .partners .partner-image:nth-of-type(6) {
      border-bottom: 0; }
    body .partners .partner-image:nth-of-type(7) {
      border-bottom: 0; }
    body .partners .partner-image:nth-of-type(8) {
      border-bottom: 0; }
    body .partners .partner-image:nth-of-type(9) {
      border-bottom: 0; }
    body .partners .partner-image:nth-of-type(10) {
      border-bottom: 0; }
  body footer {
    margin-top: 10rem;
    background-color: #7E858B;
    color: white; }
    body footer .copyright {
      padding: 40px; }
    body footer .top {
      display: grid;
      grid-template-columns: 50% 50%; }
      @media only screen and (max-width: 948px) {
        body footer .top {
          display: grid;
          grid-template-columns: 30% 70% !important; } }
      @media only screen and (max-width: 768px) {
        body footer .top {
          display: grid;
          grid-template-columns: 100% !important;
          align-items: center; } }
      @media only screen and (max-width: 480px) {
        body footer .top {
          display: grid;
          grid-template-columns: 100% !important;
          align-items: center; } }
      body footer .top .contact-details {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(30%, 50%)); }
        @media only screen and (max-width: 768px) {
          body footer .top .contact-details {
            display: grid;
            grid-template-columns: 50% 50%; } }
        @media only screen and (max-width: 480px) {
          body footer .top .contact-details {
            display: grid;
            grid-template-columns: 100% !important;
            grid-template-rows: 50px 50px !important;
            align-items: center !important;
            justify-content: center !important; } }
        body footer .top .contact-details .address {
          grid-column-start: 1;
          text-align: right; }
          @media only screen and (max-width: 768px) {
            body footer .top .contact-details .address {
              text-align: left !important; } }
          @media only screen and (max-width: 480px) {
            body footer .top .contact-details .address {
              text-align: center !important; } }
        body footer .top .contact-details .email {
          grid-column-start: 2;
          text-align: right; }
          @media only screen and (max-width: 480px) {
            body footer .top .contact-details .email {
              grid-row: 2 !important;
              grid-column: 1 !important;
              text-align: center !important; } }
    body footer .bottom {
      background-color: #B9EDEC;
      height: 60px; }
  body .grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 90px); }
  body .fixed-width {
    max-width: 1024px;
    margin: 0 auto;
    position: relative; }
  body .fluid-width {
    width: 100%; }
  body .featured-image {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover; }
  body .featured-block,
  body .contact-block {
    background-color: gray;
    padding: 40px;
    opacity: .8; }
    @media only screen and (max-width: 768px) {
      body .featured-block,
      body .contact-block {
        background: transparent !important;
        padding: 40px;
        opacity: 1 !important;
        text-shadow: 0 0 2px #333 !important; } }
  body .text-content {
    color: white;
    line-height: 2.5rem; }

@media only screen and (max-width: 948px) {
  .contact-block {
    grid-row: 2/6 !important;
    grid-column: 3 / span 2;
    align-items: center;
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  footer .logo {
    text-align: center;
    margin-bottom: .5rem 0; }
  footer div {
    text-align: center; } }

@media only screen and (max-width: 480px) {
  .contact .contact-block {
    grid-row: 2/span 5 !important;
    grid-column: 1/span 4 !important;
    align-items: center;
    opacity: 1; } }
